// out: ../extended.css

@import (less) url(mixins.less);
@import (less) url(colors.less);

@bodyBgColor: #eee;

@panelsBgColor: #fff;
@panelsPadding: 1.25rem;

@stdMarginBottom: 15px;

@text-color: #42474b;

@stdFontSize: 14px;
@font-weight: 400;

html, body {
    min-height: 100%;

    font-size: @stdFontSize;
    font-weight: 400;
    color: @text-color;
}

h1, h2, h4 {
    text-align: center;
    font-weight: 700;

    margin-bottom: @stdMarginBottom;
}

h4 {
    font-size: 16px;
}

label {
    width: 100%;
}

.cursor {
    &-help {
        cursor: help;
    }
    &-pointer {
        cursor: pointer;
    }
}

.navbar-brand,
.navbar-nav>li>a {
    line-height: 30px;
}

.wrap {
    background: @bodyBgColor;
}

.content {
    padding-top: 80px;
}


.badge {
    background-color: transparent;

    width: 30px;
    height: 30px;

    a {
        display: inline-block;
        font-size: 15px;
    }
}
.btn-group {

    button {
        width: 20px;
        height: 20px;
        padding: 0;
        position: relative;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

/**
 * Настройки блока "Отступ"
 */

.indent {
    margin: 0 10px;
}

.indent:last-child {
    background-color: aquamarine;
}


/**
 * Sir Trevor blocks settings
 */
.st-top-controls {
    height: 0;
    min-height: 0;
}

.field-sir-trevor-textArea {

    background: @panelsBgColor;

    padding: @panelsPadding;
    margin-bottom: @stdMarginBottom;

    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
                0 2px 10px 0 rgba(0, 0, 0, .12);
}

.st-text-block p {
    margin: 10px 0 0 0;

    font-size: @stdFontSize;
    text-align: center;
}

.st-block-controls__button .st-icon {
    margin: 0;
}

input[type=text] {
    font-size: @stdFontSize;
    font-weight: 700;
}

#form-name,
.help-block {
    margin-bottom: 0;
}

.btn {
    &-fixed {
        width: 130px;
    }
    &-block {
        margin-bottom: @stdMarginBottom;
    }
    &-block:last-child {
        margin-bottom: 0;
    }
}

.card {
    background: @panelsBgColor;
    margin-bottom: @stdMarginBottom;
    min-width: 180px;

    &-block {
        padding: @panelsPadding;
    }

    p:last-child {
        margin-bottom: 0;
    }

    .form-group {
        margin-bottom: 0;
    }
}

.navbar-toggle {
    background: #2BBBAD;
    height: 40px;
}
.navbar-toggle:before {
    color: #fff;
    font-family: 'Glyphicons Halflings';
    content: "\e114";
}

/**
 * Easy tree options / BEGN
 */
.easy-tree {
    li {
        padding: 0 0 0 20px;
        position: relative;
    }

    li::before,
    li::after {
        content: '';
        left: 5px;
        position: absolute;
        right: auto;
    }

    li::before {
        //border-left: 1px solid #2BBBAD;
        border-left: 1px solid #ddd;
        bottom: 50px;
        height: 100%;
        top: -5px;
        width: 1px;
    }

    li::after {
        //border-top: 1px solid #2BBBAD;
        border-top: 1px solid #ddd;
        height: 20px;
        top: 17px;
        width: 10px;
    }

    & > ul > li::before,
    & > ul > li::after {
        border: 0
    }

    li.item > span {
        float: left;
    }
    .item {
        &-content {
            padding: 10px 15px 10px 25px;
            margin-right: -17px;
        }

        &-link {
            background: #EEEEEE;
            border-bottom: 1px solid @panelsBgColor;
        }
    }

    .glyphicon {
        line-height: 35px;

        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;

        &-folder-open {
            color: @element-color-dark;
        }
        &-folder-close {
            color: @element-color-dark;
        }
        &-file {
            color: @element-color;
        }
        &-file-open {
            color: #ffbb33;
        }
    }

    li.parent_li > span:hover + div + ul li span.glyphicon-file {
        color: @element-color-spin;
    }
    li.parent_li > span:hover + div + ul li span.glyphicon-folder-open,
    li.parent_li > span:hover + div + ul li span.glyphicon-folder-close {
        color: @element-color-dark-hover;
    }
}
/**
 * Easy tree options / END
 */

/**
 * Dropdown menu / BEGIN
 */
.dropdown-menu {
    width: 230px;

    li {
        padding: 0;
    }

    li::before,
    li::after {
        border: 0;
    }

    .glyphicon {
        line-height: normal;
    }
}
/**
 * Dropdown menu / END
 */

/**
 * Grid view / BEGIN
 */
.grid-view {
    a:hover {
        span {
            color: #2BBBAD;
        }
    }
    .table-modal tr:hover {
        cursor: pointer;
    }
}
/**
 * Grid view / END
 */

/**
 * Client block / BEGIN
 */
.client-block {
    span {
        margin-right: 10px;
        color: @element-color;
    }
}
/**
 * Client block / END
 */
